# for Unix/Linux
*~
*.o
*.la
*.lo
*.so
*.a

# for MacOS/X
*.dylib
*.dSYM
.DS_Store

# for Windows
*.exe
*.obj
*.dll
*.exp
*.pdb
lib*.lib
lib*.dll
resource.RES
resource.rc
*_.RES
*_.rc
*0000.bin
*.ilk

# Misc
*.eml
*.patch
*.orig
*.rej
*.swp

# For OpenLDAP
*.tmp
.libs
.links

version.c

Makefile
!/contrib/slapd-modules/*/Makefile
!/contrib/slapd-modules/*/*/Makefile
!/doc/guide/admin/Makefile
!/libraries/libmdb/Makefile
!/servers/slapd/back-sql/rdbms_depend/timesten/dnreverse/Makefile

/config.status
/config.log
/include/stamp-h?
/libtool
/stamp-h
/clients/tools/l*version.c
/clients/tools/ldapcompare
/clients/tools/ldapdelete
/clients/tools/ldapexop
/clients/tools/ldapmodify
/clients/tools/ldapmodrdn
/clients/tools/ldappasswd
/clients/tools/ldapsearch
/clients/tools/ldapurl
/clients/tools/ldapvc
/clients/tools/ldapwhoami
/include/lber_types.h
/include/ldap_config.h
/include/ldap_features.h
/include/portable.h
libraries/libl*/*test
libraries/liblunicode/ucdata.c
libraries/liblunicode/ucdata.h
libraries/liblunicode/ucgendat
libraries/liblunicode/ucgendat.c
libraries/liblunicode/uctable.h
libraries/liblunicode/ure.c
libraries/liblunicode/ure.h
libraries/liblunicode/urestubs.c
libraries/liblunicode/version.c
libraries/liblutil/slapdmsg.res
libraries/liblutil/version.c
libraries/librewrite/rewrite
libraries/librewrite/version.c
servers/slapd/.backend
servers/slapd/all-cffiles
servers/slapd/backends.c
servers/slapd/overlays/statover.c
servers/slapd/slapacl
servers/slapd/slapadd
servers/slapd/slapauth
servers/slapd/slapcat
servers/slapd/slapd
servers/slapd/slapdn
servers/slapd/slapindex
servers/slapd/slapmodify
servers/slapd/slappasswd
servers/slapd/slapschema
servers/slapd/slaptest
servers/lloadd/lloadd
tests/progs/ldif-filter
tests/progs/slapd-addel
tests/progs/slapd-bind
tests/progs/slapd-modify
tests/progs/slapd-modrdn
tests/progs/slapd-mtread
tests/progs/slapd-read
tests/progs/slapd-search
tests/progs/slapd-tester
tests/schema
tests/testdata
tests/testrun
tests/run
