#include <winsock.h>

STRINGTABLE
BEGIN
  WSABASEERR,         "[0] No Error"
  WSAEINTR,           "[10004] Interrupted system call"
  WSAEBADF,           "[10009] Bad file number"
  WSAEACCES,          "[10013] Permission denied"
  WSAEFAULT,          "[10014] Bad address"
  WSAEINVAL,          "[10022] Invalid argument"
  WSAEMFILE,          "[10024] Too many open files"
  WSAEWOULDBLOCK,     "[10035] Operation would block"
  WSAEINPROGRESS,     "[10036] Operation now in progress"
  WSAEALREADY,        "[10037] Operation already in progress"
  WSAENOTSOCK,        "[10038] Socket operation on non-socket"
  WSAEDESTADDRREQ,    "[10039] Destination address required"
  WSAEMSGSIZE,        "[10040] Message too long"
  WSAEPROTOTYPE,      "[10041] Protocol wrong type for socket"
  WSAENOPROTOOPT,     "[10042] Bad protocol option"
  WSAEPROTONOSUPPORT, "[10043] Protocol not supported"
  WSAESOCKTNOSUPPORT, "[10044] Socket type not supported"
  WSAEOPNOTSUPP,      "[10045] Operation not supported on socket"
  WSAEPFNOSUPPORT,    "[10046] Protocol family not supported"
  WSAEAFNOSUPPORT,    "[10047] Address family not supported by protocol family"
  WSAEADDRINUSE,      "[10048] Address already in use"
  WSAEADDRNOTAVAIL,   "[10049] Can't assign requested address"
  WSAENETDOWN,        "[10050] Network is down"
  WSAENETUNREACH,     "[10051] Network is unreachable"
  WSAENETRESET,       "[10052] Net dropped connection or reset"
  WSAECONNABORTED,    "[10053] Software caused connection abort"
  WSAECONNRESET,      "[10054] Connection reset by peer"
  WSAENOBUFS,         "[10055] No buffer space available"
  WSAEISCONN,         "[10056] Socket is already connected"
  WSAENOTCONN,        "[10057] Socket is not connected"
  WSAESHUTDOWN,       "[10058] Can't send after socket shutdown"
  WSAETOOMANYREFS,    "[10059] Too many references, can't splice"
  WSAETIMEDOUT,       "[10060] Connection timed out"
  WSAECONNREFUSED,    "[10061] Connection refused"
  WSAELOOP,           "[10062] Too many levels of symbolic links"
  WSAENAMETOOLONG,    "[10063] File name too long"
  WSAEHOSTDOWN,       "[10064] Host is down"
  WSAEHOSTUNREACH,    "[10065] No Route to Host"
  WSAENOTEMPTY,       "[10066] Directory not empty"
  WSAEPROCLIM,        "[10067] Too many processes"
  WSAEUSERS,          "[10068] Too many users"
  WSAEDQUOT,          "[10069] Disc Quota Exceeded"
  WSAESTALE,          "[10070] Stale NFS file handle"
  WSAEREMOTE,         "[10071] Too many levels of remote in path"
  WSASYSNOTREADY,     "[10091] Network SubSystem is unavailable"
  WSAVERNOTSUPPORTED, "[10092] WINSOCK DLL Version out of range"
  WSANOTINITIALIZED,  "[10093] Successful WSASTARTUP not yet performed"
  WSAHOST_NOT_FOUND,  "[11001] Host not found"
  WSATRY_AGAIN,       "[11002] Non-Authoritative Host not found"
  WSANO_RECOVERY,     "[11003] Non-Recoverable errors: FORMERR, REFUSED, NOTIMP"
  WSANO_DATA,         "[11004] Valid name, no data record of requested 
type"
END
