name: Test and Prebuild
on: [push]
jobs:
  build-test-prebuild:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: npm install
      - run: npm test
      - run: npm run prebuild
        if: startsWith(github.ref, 'refs/tags/')
      - run: zip -r prebuild-darwin.zip prebuilds
        if: startsWith(github.ref, 'refs/tags/')
      - name: Prebuild
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: prebuild-darwin.zip
